<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>


    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <title>Berkeley Showcase</title>

  </head>
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- =========== Info Button =============== -->
    <nav class="menu" id="theMenu">  
      <a href="/info"><button type="button" class="btn btn-default" aria-label="Left Align"> 
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </button>
      </a>
    </nav>
    <!-- ========== HEADER SECTION ========== -->
    <div id="itemwrap">
      <div class="container">
        <br>
        <h1 style="font-size:100px">SaaS Project Showcase</h1>
        <h2 style="font-size:45px">UC Berkeley Computer Science 169 Projects</h2>
        <div class="row">
          <br>
          <br>
          <br>
          <div class="col-lg-6 col-lg-offset-3">
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /headerwrap -->
    <h1 class="Search"></h1>
    <div class="flexsearch">
      <div class="flexsearch--wrapper">
        <form class="flexsearch--form" action="/projects" method="POST">
          <div class="flexsearch--input-wrapper">
            <% if @search != '' %>
              <input class="flexsearch--input" type="text" name="searchtext" value="<%= @search %>">
            <% else %>
              <input class="flexsearch--input" type="text" name="searchtext" placeholder=" Search">
            <% end %>
          </div>
          <input class="flexsearch--submit" type="submit" value="&#10140;"/>
        </form>
      </div>
    </div>
    <!-- ========== WHITE SECTION ========== -->
    <div id="w">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Projects</h3>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /w -->
    <!-- Beginning of Cards Section... LOT OF CODE! -->
    <section id="services" name="services"></section>
    <div id="g">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %> 
          <div class="col-lg-3">
            <div class="wrapper">
              <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                  <img src="../assets/img/sampleImg<%= 1+rand(6) %>.jpeg" alt="image" class="border-tlr-radius" height="130">
                </div>
                <div class="card__content card__padding">
                  <div class="card__share">
                    <div class="card__social">  
                      <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                      <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                      <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </div>
                  <div class="card__meta">

                  </div>
                  <article class="card__article">
                    <h2><a style="color:#f85c37;" target="_blank" href="<%= project["repository_url"]%>"><%= project["name"]%></a></h2>
                    <p><%= project["description"]%></p>
                  </article>
                </div>
                <div class="card__action">
                  <div class="card__author">
                    <div class="card__author-content">
                      For <a href="<%= project['org']['url'] %>"><%= project["org"]["name"] %></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- End of Cards Section... LOT OF CODE! -->
    <!-- ========== FOOTER SECTION ========== -->
    <section id="contact" name="contact"></section>
    <div id="f">
      <div class="container">
        <div class="row">
          <h3><b>CONTACT US</b></h3>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <h3><a style = "color:#f85c37;" href="mailto:fox@cs.berkeley.edu">projects@saas-class.org</a></h3>
            <br>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
    <div id="c">
      <div class="container">
        <br>
        <p>Created by <a target="_blank" style = "color:#f85c37;" href="http://www.berkeley.edu">Berkeley</a></p>
        <br>
      </div>
    </div>
    <script>
      $('.carousel').carousel({
      interval: 3500
      })
    </script>
  </body>
</html>
